* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gilroy", Arial, Helvetica, sans-serif;
    background: #FFF;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.top {
    padding-top: 40px;
    padding-bottom: 96px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu__nav__link {
    width: 533px;
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row; 
    flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}

.menu__item__link {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    font-weight: 600;
}

.link1 {
    color: #F25822;
}

.top__content {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: center;
    gap: 39px;
    margin-top: 84px;
    margin-bottom: 259px;
}

.content__info {
    width: 522px;
}

.content__info__title {
    margin-bottom: 17px;
    font-size: 60px;
    line-height: 70px;
    font-weight: bold;
    color: #000000;
}

.content__info__text {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #888888;
}

.content__info__buttons {
    margin-top: 37px;
    /* width: 302px; */
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-items: center;
    gap: 72px;
}

.btn1 {
    font-family: "Gilroy";
    padding: 15px 36px 16px 35px;
    border: none;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.btn2 {
    font-family: "Gilroy";
    border: none;
    background: none;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    color: #AAAAAA;
}

.top__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.features {
    display: grid;
    grid-template-columns: 310px 370px 310px;
    justify-content: center;
    gap: 60px;
}

.feature {
    margin-top: 140px;
    margin-bottom: 125px;
    display: grid;
    justify-items: flex-start;
}

.middle {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 30px 25px 30px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
}

.feature__img {
    margin-bottom: 25px;
}

.feature__heading {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000;
}

.feature__text {
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #666;
}

.read__more {
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    color: #000;
}

.services {
    display: grid;
    justify-content: center;
    justify-items: center;
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
}

.services__title {
    max-width: 579px;
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 45px;
    /* line-height: 53px; */
    color: #000000;
}

.services__text {
    max-width: 682px;
    margin-bottom: 55px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    color: #666666;
}

.service__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
    justify-content: center;
}

.service__item {
    background: #FFF;
    padding-bottom: 50px;
    display: grid;
    justify-items: center;
}

.mid {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.service__img {
    margin-bottom: 25px;
}

.service__title {
    /* max-width: 204px; */
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000;
}

.service__text {
    max-width: 310px;
    margin-bottom: 39px;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 150%; */
    line-height: 21px;
    text-align: center;
    color: #AAA;
}

.service__button {
    padding: 15px 29px 15px 42px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    border: none;
}