@import "../vars";
@import "../mixins";

// Common and service settings
* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "lato", sans-serif;
	font-weight: 400;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

summary {
	display: block;
}

summary::-webkit-details-marker {
	display: none;
}

.box-content {
	overflow: hidden;
}

.container {
	padding-left: calc(50% - $widthSite / 2);
	padding-right: calc(50% - $widthSite / 2);
}

// Top section: logo, search and navigation
.header {
	background-color: $backBlock;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;

	&__container {
		@include flex-setting(row, space-between, center, wrap, initial);
	}

	&__logo-container {
		@include flex-setting(initial, initial, center, initial, 41px);
	}

	&__search {
		all: unset;
		cursor: pointer;
		flex: unset;
	}

	&__nav-container {
		padding-right: 10px;
		@include flex-setting(initial, initial, center, initial, 25px);
	}

	&__menu-x-close {
		position: absolute;
		z-index: 12;
		top: calc(16px + 83px);
		right: 17px;
		background: none;
		cursor: pointer;
		border: none;
		fill: #575757;
		transition: right 0.3s;
	}

	&__cart-link {
		position: relative;

		&::after {
			content: "5";
			padding-top: 2px;
			font-size: 12px;
			border-radius: 50%;
			position: absolute;
			color: white;
			background-color: $colorSelectSite;
			width: 19px;
			height: 17px;
			text-align: center;
			right: -10px;
			top: -7px;
		}
	}
}

#burger {
	position: absolute;
	left: -999999px;
	visibility: hidden;

	&:checked ~ .burger-menu-nav {
		right: -$widthBurgerMenu;
	}

	&:checked ~ .header__menu-x-close {
		right: -$widthBurgerMenu;
	}
}

.burger-menu-nav {
	background: #fff;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	width: 232px;
	padding: 37px 0 32px 32px;
	box-sizing: border-box;
	position: absolute;
	z-index: 11;
	top: 83px;
	right: 0;
	transition: right 0.3s;

	&__header-text {
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: $colorText;
		margin-bottom: 24px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__header-summary {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $colorText;
	}

	&__header[open] &__header-summary {
		color: $colorSelectSite;
	}

	&__link-box {
		display: flex;
		flex-direction: column;
		gap: 11px;
		padding: 12px 0 0 22px;
	}

	&__link-item {
		height: 17px;
	}

	&__link {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #6f6e6e;

		&:hover {
			color: $colorSelectSite;
		}
	}
}

// Top head
.top-head {
	background: #f8f3f4;
	padding-top: 60px;
	padding-bottom: 60px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__heading {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $colorSelectSite;
	}
}

// Order
.order {
	// Cards and controls
	&__container {
		padding-top: 96px;
		padding-bottom: 128px;
		@include flex-setting(initial, initial, initial, wrap, 128px);
		box-sizing: border-box;
	}

	&__product-cards {
		@include flex-setting(column, initial, initial, initial, 72px);
	}

	&__product-cards-container {
		position: relative;
		@include flex-setting(column, initial, initial, initial, 40px);
	}

	&__product-card {
		@include flex-setting(row, initial, center, initial, initial);
		box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
		position: relative;
	}

	#cards {
		position: absolute;
		left: -999999px;
		visibility: hidden;

		&:checked ~ .order__product-card-wrapper {
			position: absolute;
			left: -999999px;
			visibility: hidden;
		}
	}

	#card1,
	#card2 {
		position: absolute;
		left: -999999px;
		visibility: hidden;

		&:checked ~ .order__product-card {
			position: absolute;
			left: -999999px;
			visibility: hidden;
		}
	}

	&__product-card-img {
		max-width: 262px;
	}

	&__product-card-info {
		@include flex-setting(column, initial, initial, initial, 42px);
		padding: 22px 97px 62px 31px;
		// box-sizing: border-box;
		width: 262px;
	}

	&__product-card-info-title {
		font-weight: 400;
		font-size: 24px;
		color: #222;
	}

	&__product-card-info-params {
		@include flex-setting(column, initial, initial, initial, 6px);
	}

	&__product-card-info-param {
		font-weight: 400;
		font-size: 22px;
		color: #575757;
	}

	&__product-card-info-param-value {
		color: #6f6e6e;

		&_red {
			color: $colorSelectSite;
		}
	}

	&__product-card-info-param-qnty {
		font-family: "lato";
		font-weight: 400;
		font-size: 18px;
		text-align: center;
		color: #656565;
		width: 44px;
		height: 24px;
		margin-left: 24px;
		border: 1px solid #eaeaea;
	}

	&__product-card-delete {
		position: absolute;
		top: 28px;
		right: 22px;
		background: none;
		cursor: pointer;
		border: none;
		fill: #575757;
	}

	&__order-control-wrapper {
		@include flex-setting(row, space-between, center, initial, initial);
	}

	&__order-control-button {
		padding: 16px 40px;
		border: 1px solid #a4a4a4;
		background-color: #fff;
		font-weight: 300;
		font-size: 14px;
		color: #000;

		&:hover {
			@include button-hover();
		}
	}

	// shipping-info
	&__shipping-info {
		@include flex-setting(column, initial, start, initial, 57px);
	}

	&__shipping-address-container {
		@include flex-setting(column, initial, start, initial, 23px);
	}

	&__shipping-address {
		@include flex-setting(column, initial, start, initial, 20px);
	}

	&__shipping-address-title {
		font-weight: 300;
		font-size: 16px;
		color: #222;
	}

	&__shipping-address-input {
		width: 360px;
		padding: 13px 0 16px 17px;
		border: 1px solid #a4a4a4;
		box-sizing: border-box;
		font-weight: 300;
		font-size: 13px;
		color: #222;

		&:focus::placeholder {
			color: #b1b1b1;
		}
	}

	&__shipping-info-quote {
		padding: 10px 14px 12px 15px;
		background-color: #fff;
		border: 1px solid #a4a4a4;
		font-weight: 300;
		font-size: 11px;
		color: #4a4a4a;

		&:hover {
			@include button-hover();
		}
	}

	&__proceed-to-checkout {
		box-sizing: border-box;
		background-color: #f5f3f3;
		padding: 39px 42px 43px 43px;
		@include flex-setting(column, initial, flex-end, initial, initial);

		& > svg {
			margin-bottom: 16px;
		}
	}

	&__subtotal {
		font-weight: 400;
		font-size: 11px;
		color: #4a4a4a;
		margin-bottom: 12px;

		& > span {
			padding-left: 21px;
		}
	}

	&__grand-total {
		font-weight: 300;
		font-size: 16px;
		color: #222;
		margin-bottom: 21px;

		& > span {
			padding-left: 25px;
			color: $colorSelectSite;
			font-weight: 700;
		}
	}

	&__proceed-to-checkout-btn {
		padding: 16px 40px;
		background-color: #fff;
		border: 1px solid #a4a4a4;
		font-weight: 300;
		font-size: 16px;
		color: #4a4a4a;

		&:hover {
			@include button-hover();
		}
	}
}

// Feedback
.subscribe {
	background: no-repeat center url("../img/subscribe_bg.png");
	background-size: cover;
	padding-top: 97px;
	padding-bottom: 126px;

	&__container {
		@include flex-setting(initial, space-between, initial, wrap, 48px);
	}

	&__review {
		@include flex-setting(column, initial, center, wrap, $gapGrid);
		flex: 0 1 360px;
	}

	&__image {
		width: 96px;
		height: 96px;
		border-radius: 50%;
	}

	&__review-text {
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		color: #222224;
		font-style: italic;
		padding-bottom: 26px;
	}

	&__feedback {
		@include flex-setting(column, center, center, initial, 32px);
		flex: 0 1 557px;
	}

	&__feedback-header {
		font-weight: 700;
		font-size: 24px;
		text-align: center;
		color: #222224;
	}

	&__feedback-subheader {
		font-weight: 400;
		font-size: 18px;
		text-align: center;
	}

	&__feedback-form {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		width: 356px;
		height: 49px;
		margin: 0 auto;
		border-radius: 25px;
	}

	&__feedback-input {
		padding: 6px 102px 6px 22px;
		width: 100%;
		height: 100%;
		background-color: #e1e1e1;
		border: none;
		font-size: 14px;
	}

	&__feedback-button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 100px;
		height: 100%;
		border: none;
		font-size: 14px;
		text-align: center;
		color: #fff;
		background-color: #f16d7f;
		cursor: pointer;
	}
}

// Footer
.footer {
	background-color: #222224;
	padding: 24px 0;

	&__container {
		@include flex-setting(initial, space-between, center, wrap, initial);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__copyright {
		font-weight: 400;
		font-size: 16px;
		color: $blackBackgroundFontColor;
	}

	&__social-list {
		display: flex;
		gap: 8px;
	}

	&__social-link {
		@include flex-setting(initial, center, center, initial, initial);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		color: $colorText;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__social-link:hover {
		color: #fff;
		background-color: $colorSelectSite;
	}
}

// Adaptive
@media (max-width: 1024px) {
	.container {
		padding-left: calc(50% - 368px);
		padding-right: calc(50% - 368px);
	}

	.header {
		padding: 18px 32px;
	}

	.burger-menu-nav {
		top: calc(83px - (20px - 18px) * 2);
	}

	.order {
		&__container {
			padding-top: 59px;
		}

		&__product-cards {
			flex-grow: 1;
		}

		&__order-control-wrapper {
			justify-content: center;
			gap: 48px;
		}

		&__shipping-info {
			@include flex-setting(
				initial,
				space-between,
				center,
				initial,
				initial
			);
			flex-grow: 1;
		}
	}

	.subscribe {
		padding-top: 64px;
		padding-bottom: 140px;
		background-position: left;

		&__container {
			@include flex-setting(column, initial, center, initial, 48px);
		}

		&__review {
			flex-basis: auto;
			max-width: 360px;
		}

		&__feedback {
			flex-basis: auto;
		}
	}
}

@media (max-width: 767px) {
	.container {
		padding-left: calc(50% - calc(375px / 2 - 8px));
		padding-right: calc(50% - calc(375px / 2 - 8px));
	}

	.header {
		padding: 18px 0;

		&__user-link {
			display: none;
		}

		&__cart-link {
			display: none;
		}

		&__nav-container {
			padding-right: 8px;
		}

		&__logo-container {
			padding-left: 8px;
		}
	}

	.top-head {
		padding-top: 24px;
		padding-bottom: 46px;

		&__container {
			flex-wrap: wrap;
			gap: 32px;
			justify-content: center;
		}
	}

	.order {
		&__container {
			padding-top: 39px;
			padding-bottom: 96px;
			gap: 48px;
		}

		&__product-cards {
			gap: 30px;
		}

		&__product-card-img {
			max-width: 144px;
			height: 188px;
		}

		&__product-card-info {
			max-width: 144px;
			gap: 26px;
			padding: 13px 53px 34px 17px;
		}

		&__product-card-info-title {
			font-weight: 400;
			font-size: 16px;
			color: #222;
		}

		&__product-card-info-params {
			gap: 4px;
		}

		&__product-card-info-param {
			font-weight: 400;
			font-size: 14px;
			color: #575757;
		}

		&__product-card-info-param-qnty {
			font-weight: 400;
			font-size: 10px;
			width: 24px;
			height: 15px;
		}

		&__product-card-delete {
			top: 15px;

			& > svg {
				height: 12px;
			}
		}

		&__order-control-wrapper {
			gap: initial;
			justify-content: space-between;
		}

		&__order-control-button {
			font-weight: 400;
			font-size: 12px;
			padding: 9px 17px;
		}

		&__shipping-info {
			flex-wrap: wrap;
			gap: 48px;
		}
	}

	.subscribe {
		padding-bottom: 110px;

		&__container {
			gap: 59px;
		}

		&__review-text {
			font-size: 18px;
		}

		&__feedback-subheader {
			font-size: 14px;
		}
	}

	.footer {
		padding-top: 43px;
		padding-bottom: 24px;

		&__container {
			flex-flow: column-reverse wrap;
			gap: 40px;
		}
	}
}
